/****************FONTS****************/
@font-face {
  font-family: "Jost-Black";
  src: url(../fonts/Jost-Black.woff2);
}
@font-face {
  font-family: "Jost-SemiBold";
  src: url(../fonts/Jost-SemiBold.woff2);
}
@font-face {
  font-family: "Jost-Regular";
  src: url(../fonts/Jost-Regular.woff2);
}
@font-face {
  font-family: "Jost-Medium";
  src: url(../fonts/Jost-Medium.woff2);
}
@font-face {
  font-family: "Jost-Thin";
  src: url(../fonts/Jost-Light.woff2);
}
@font-face {
  font-family: "Jost-Light";
  src: url(../fonts/Jost-Light.woff2);
}
@font-face {
  font-family: "Montserrat Bold";
  src: url(../fonts/Jost-Bold.woff2);
}
@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow.woff2");
}
@font-face {
  font-family: "Bodo";
  src: url("../fonts/Bodo-Amat.woff2");
}
/****************UNIVERSAL/GLOBAL****************/
* {
  margin: 0%;
  padding: 0%;
}
body {
  background: var(
    --BG-Linear,
    linear-gradient(180deg, #0c0c0c 0%, #eb42be 258.33%)
  );
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu li {
  margin-right: 20px;
}
.menu li:last-child {
  margin-right: 50px;
}
.menu a {
  font-family: "Jost-Black";
  font-size: 2.4rem;
  margin-top: 20px;
  text-decoration: none;
  color: #f7f6fc;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.menu a:hover {
  text-shadow: 0px 0px 10px #faf9f5;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

h1 {
  font-family: "Jost-Medium";
  color: transparent;
  background-color: #ab42eb;
  background-clip: text;
  text-shadow: 0px 2px 3px #eb42be, 0px 2px 50px #eb42be;
  font-size: 4.5rem;
  height: 90px;
}
h2 {
  font-family: "Jost-SemiBold";
  color: transparent;
  background-color: #1b62e7;
  background-clip: text;
  text-shadow: 0px 2px 3px #42ebeb, 0px 2px 50px #42ebeb;
  font-size: 3rem;
}
h3 {
  font-family: "Jost-Regular";
  font-size: 2.25rem;
  color: #faf9f5;
}

h4 {
  font-family: "Jost-Light";
  font-size: 2rem;
  color: #faf9f5;
}
p {
  font-family: "Jost-Regular";
  color: #faf9f5;
  line-height: 180%;
}
.footer_links {
  font-family: "Teko-SemiBold";
  font-size: 1.75rem;
  text-decoration: none;
  color: #272796;
}

footer {
  background: linear-gradient(180deg, #ab42eb 0%, #7a2fa7 100%);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.35) inset;
  padding-bottom: 50px;
  padding-top: 50px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  
}
.footer_text {
  font-family: "Montserrat Bold";
  color: aliceblue;
}
/****************FORSIDE****************/
.index_btn {
  padding: 5px 8px 5px 8px;
  border-radius: 15px;
  font-family: "Jost-SemiBold";
  font-size: 36px;
  text-align: center;
  text-decoration: none;
  color: #e3e3f1;
  background: linear-gradient(
      319deg,
      rgba(66, 235, 235, 0.5) 24.28%,
      rgba(66, 235, 235, 0) 68.43%
    ),
    radial-gradient(
      103.12% 102.54% at 50% 50%,
      rgba(0, 0, 0, 0) 45.83%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
      374.75% 157.4% at 87.81% 36.25%,
      rgba(191, 43, 243, 0.7) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    radial-gradient(
      134.84% 103.32% at 29.06% 25%,
      rgba(200, 43, 239, 0.7) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  box-shadow: 0px 4px 100px 0px #ab42eb, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition-duration: 0.8s;
  transition-timing-function: ease-in-out;
}
.index_btn:hover {
  transition-duration: 0.8s;
  transition-timing-function: ease-in-out;
  background: linear-gradient(
      319deg,
      rgba(66, 235, 235, 0.2) 24.28%,
      rgba(66, 235, 235, 0) 68.43%
    ),
    radial-gradient(
      103.12% 102.54% at 50% 50%,
      rgba(0, 0, 0, 0) 45.83%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
      374.75% 157.4% at 87.81% 36.25%,
      rgba(93, 235, 66, 0.7) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    radial-gradient(
      134.84% 103.32% at 29.06% 25%,
      rgba(93, 235, 66, 0.7) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  box-shadow: 0px 4px 100px 0px #5deb42, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
/****************LIDT OM MIG****************/
.historic {
  border-radius: 60px;
  border: 1px solid #42ebeb;
  background: radial-gradient(
      175.75% 115.19% at -14.05% -44.1%,
      rgba(66, 235, 235, 0.4) 0%,
      rgba(66, 229, 235, 0) 100%
    ),
    radial-gradient(
      194.11% 167.17% at 30.65% 206.89%,
      #ab42eb 0%,
      rgba(171, 66, 235, 0) 100%
    ),
    radial-gradient(
      83.16% 55.03% at 80.16% 25.49%,
      rgba(235, 66, 190, 0.3) 0%,
      rgba(235, 66, 190, 0) 100%
    );
  box-shadow: 0px 0px 70px 0px rgba(171, 66, 235, 0.5);
  margin: 0 0 5% 0;
  padding: 5%;
  backdrop-filter: blur(7px);
}

/****************--------------PORTFOLIO--------------****************/
/****************--------------BASIC WEB--------------****************/

#project {
  font-family: "Montserrat Bold";
  font-size: 1rem;
  background: linear-gradient(150deg, #b824f7 0%, #4a1362 100%);
  color: aliceblue;
  text-decoration: none;
  padding: 2%;
  border: 1px solid aliceblue;
  border-radius: 5px;
}
#project:hover {
  background: linear-gradient(150deg, #24f755 0%, #117127 100%);
}
.show_description_web {
  opacity: 100%;
  margin: 5%;
  color: rgb(158, 182, 202);
  font-size: 18px;
}
/****************--------------BASIC UI/UX--------------****************/

#paper_texture_container {
  background-image: url(../img/paper_bg.png);
  mix-blend-mode: multiply;
}

#ux_description {
  color: #f1f2ed;
}
#project_documentation {
  font-family: "Montserrat Bold";
  font-size: 1rem;
  color: #f1f2ed;
  text-decoration: none;
  background: #7a8067;
  padding: 2%;
  border: 1px solid #f1f2ed;
  border-radius: 5px;
}
#project_prototype {
  font-family: "Montserrat Bold";
  font-size: 1rem;
  color: #f1f2ed;
  text-decoration: none;
  background: #7a8067;
  padding: 2%;
  border: 1px solid #f1f2ed;
  border-radius: 5px;
}
#project_croissant_website {
  font-family: "Montserrat Bold";
  font-size: 1rem;
  text-decoration: none;
  color: #f1f2ed;
  background: #7a8067;
  padding: 2%;
  border: 1px solid #f1f2ed;
  border-radius: 5px;
}
#project_documentation:hover {
  color: #7a8067;
  background: #f1f2ed;
}
#project_prototype:hover {
  color: #7a8067;
  background: #f1f2ed;
}
#project_croissant_website:hover {
  color: #7a8067;
  background: #f1f2ed;
}
/****************--------------BASIC ANIMATION--------------****************/
#basic_animation {
  background: linear-gradient(180deg, #72bbff 0%, #4696ff 100%);
}
#animation_description {
  font-family: "Montserrat Bold";
  color: #0a3a5c;
}

#ducky_link {
  font-family: "Bodo";
  font-size: 1rem;
  color: #f1f2ed;
  text-decoration: none;
  background: linear-gradient(-125deg, #171389 0%, #231dc8 100%);
  padding: 10px;
  border: 1px solid #f1f2ed;
  border-radius: 5px;
}
#ducky_link:hover {
  background: linear-gradient(-125deg, #73d424 0%, #49940c 100%);
}
/****************--------------BASIC CONTENT--------------****************/
#basic_content {
  border-radius: 10px;
  background: #f8f6f2;
}

#content_description {
  color: #a15a44;
}
.content_project {
  font-family: "Montserrat Bold";
  font-size: 1rem;
  text-decoration: none;
  background-color: #a15a44;
  color: #f8f6f2;
  padding: 5px;
  border-radius: 5px;
  border: 3px double;
}
.content_project:hover {
  background-color: #f8f6f2;
  color: #a15a44;
}
