/****************--------------MOBILESITE--------------****************/
@media screen and (min-width: 375px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .logo {
    scale: 40%;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.35) inset;
    height: 80px;
  }
  nav.active .menu li {
    margin: 10px 20px;
  }
  nav.active .menu {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  nav.active .menu a {
    font-size: 24px;
  }
  .burger .line {
    width: 100%;
    height: 2px;
    background-color: rgb(223, 227, 251);
    margin-bottom: 5px;
    transition: 0.2s linear;
  }
  /****************--------------FORSIDE/INDEX--------------****************/
  .index_h {
    text-align: center;
  }
  h1 {
    font-family: "Jost-Medium";
    color: transparent;
    background-color: #ab42eb;
    background-clip: text;
    text-shadow: 0px 2px 3px #eb42be, 0px 2px 50px #eb42be;
    font-size: 2rem;
    height: 40px;
  }
  .h2_index {
    font-family: "Jost-SemiBold";
    color: transparent;
    background-color: #ffffff;
    background-clip: text;
    font-size: 1.5rem;
    text-shadow: none;
  }
  .index_paragraph {
    margin: 2% 2% 15% 5%;
    text-align: center;
  }
  li {
    display: flex;
    justify-content: right;
  }
  .index_btn {
    display: grid;
    margin: 0% 5% 5% 0%;
  }
  .btn_grid_1_2 {
    display: grid;
    grid-row: 5;
    justify-items: center;
    margin-bottom: 45%;
  }
  .social_media_footer {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    gap: 5%;
    justify-items: center;
  }
  .index_body {
    background-image: url("../img/pink_circle.webp");
    background-repeat: no-repeat;
    position: absolute;
    height: 300px;
    width: 650px;
    left: -30%;
    opacity: 75%;
    filter: drop-shadow(0px 0px 20px #eb42be);
    top: 64%;
    z-index: -1;
  }

  /****************--------------LIDT_OM_MIG--------------****************/
  .about_portrait {
    transform: scaleX(-1);
    width: 360px;
    height: auto;
    margin-bottom: 10%;
  }
  .about_me_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin: 5%;
    gap: 20px;
  }
  .historic_container {
    margin: 0% 5% 0% 5%;
  }
  /****************--------------PORTFOLIO--------------****************/
  .portfolio_container {
    display: grid;
    gap: 20px;
    justify-items: center;
    margin-bottom: 10%;
  }
  .portfolio_h{
    text-align: center;
  }
  /****************--------------BASIC WEB--------------****************/
  #basic_web {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background-color: #051536;
  }
  .basic_web_collapsed {
    position: relative;
    border-radius: 10px;
    background: #051536;
    width: 350px;
    height: 100px;
    overflow: hidden;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }
  .enlarge_web {
    position: relative;
    border-radius: 10px;
    background: #051536;
    width: 350px;
    height: 630px;
    overflow: hidden;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }
  .hide {
    opacity: 0%;
  }
  .hide_description_web {
    opacity: 100%;
    margin: 5%;
    color: rgb(158, 182, 202);
    font-size: 18px;
  }

  .basic_web_h {
    font-family: "Barlow";
    color: aliceblue;
    font-size: 32px;
    margin: 5% 0 0 5%;
  }
  .macbook {
    position: absolute;
    top: -34%;
    left: 39%;
    scale: 56%;
  }
  #web_description {
    color: aliceblue;
    margin: 5%;
    font-size: 16px;
  }
  #project {
    margin: 5%;
  }

  /****************--------------BASIC UI/UX--------------****************/
  #basic_ui_ux {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    border-radius: 10px;
    background-color: #484541;
    z-index: 0;
  }
  .basic_ui_ux_collapsed {
    width: 350px;
    height: 100px;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }
  .enlarge_basic_ui_ux {
    position: relative;
    border-radius: 10px;
    width: 350px;
    height: 680px;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }
  .basic_ux_h_customized_font {
    background-image: url("../img/basic_ux_h_mobile.webp");
    background-repeat: no-repeat;
    position: absolute;
    width: 383px;
    height: 98px;
    scale: 70%;
    left: -13%;
  }
  #paper_texture_container {
    border-radius: 10px;
    position: absolute;
    top: -1%;
    z-index: -1;
  }
  .enlarge_paper_texture_container {
    width: 400px;
    height: 690px;
    left: -1%;
  }
  #croissant {
    scale: 23%;
    position: absolute;
    top: -282%;
    left: -14%;
    z-index: -1;
    transform: scaleX(-1);
  }
  #ux_description {
    margin: 100px 5% 20px 5%;
  }
  #ux_anchor_container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 10px;
    margin-left: 5%;
  }
  /****************--------------BASIC ANIMATION--------------****************/
  #basic_animation {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
  }
  .basic_animation_collapsed {
    width: 350px;
    height: 100px;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }
  .enlarge_basic_animation {
    width: 350px;
    height: 630px;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }
  .basic_animation_h {
    font-family: "Bodo";
    font-size: 1.25rem;
    color: #0a3a5c;
    margin: 5% 0 0 5%;
  }
  #star_2 {
    position: absolute;
    width: 30%;
    top: 5%;
    left: 65%;
  }
  #star_1 {
    opacity: 0%;
  }
  #animation_description {
    margin: 5%;
  }
  #ducky_link {
    position: absolute;
    z-index: 1;
    margin-left: 5%;
  }
  /****************--------------BASIC CONTENT--------------****************/
  #basic_content {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
  }
  .basic_content_collapsed {
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    width: 350px;
    height: 100px;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }
  .enlarge_basic_content {
    overflow: hidden;
    width: 350px;
    height: 710px;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }

  .basic_content_h {
    font-family: "Montserrat Bold";
    width: 300px;
    font-size: 1.5rem;
    color: #a15a44;
    margin: 5% 0 0 5%;
  }
  .movie-camera {
    position: absolute;
    scale: 16%;
    top: -208%;
    left: 11%;
  }
  #content_description {
    margin: 5%;
  }
  #content_anchor_container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 10px;
    margin-left: 5%;
  }
}

/****************--------------TABLET--------------****************/
@media screen and (min-width: 744px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }
  .logo {
    scale: 30%;
  }
  .index_main{
    position: relative;
    overflow: hidden;
  }
  /****************FORSIDE/INDEX****************/
  .index_h {
    text-align: center;
  }
  .h1_index {
    font-family: "Jost-Medium";
    color: transparent;
    background-color: #ab42eb;
    background-clip: text;
    text-shadow: 0px 2px 3px #eb42be, 0px 2px 50px #eb42be;
    font-size: 4rem;
    height: 90px;
  }
 
  .index_paragraph {
    margin: 2% 2% 0% 5%;
    text-align: center;
  }
  li {
    display: flex;
    justify-content: right;
  }
  .index_btn {
    display: grid;
    margin: 10% 12% 0% 10%;
  }
  .btn_grid_1_2 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15%;
  }
  .social_media_footer {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    gap: 5%;
    justify-items: center;
  }
  .index_body {
    background-image: url("../img/waves2.webp");
    background-repeat: no-repeat;
    position: absolute;
    height: 500px;
    width: 1510px;
    left: -98%;
    filter: drop-shadow(0px 0px 10px #42ebeb);
    z-index: -1;
    top: 63%;
  }
  .glow{
    background-image: url("../img/glow.png");
    background-repeat: no-repeat;
    position: absolute;
    height: 800px;
    width: 805px;
    mix-blend-mode: overlay;
    top: 35%;
    left: 1%;
    opacity: 50%;
    scale: 124%;
  }
  /****************LIDT_OM_MIG****************/
  .about_portrait {
    transform: scaleX(-1);
    width: 300px;
    height: auto;
  }
  .about_me_container {
    display: grid;
    grid-template-columns: 400px 344px;
    grid-template-rows: 100px;
    gap: 5%;
    margin: 10% 0% 5% 0%;
  }
  .about_portrait_container {
    display: grid;
    grid-row-start: 2;
    grid-column-start: 2;
  }
  .about_me_introduction {
    display: grid;
    grid-row-start: 2;
    grid-column-start: 1;
    margin-left: 8%;
    text-align: left;
  }
  .historic_container {
    margin: 40% 0% 0% 5%;
  }
  .historic {
    margin-right: 5%;
  }
  .portfolio_h{
    text-align: left;
  }
  .portfolio_paragraph{
    text-align: left;
    margin: 5% 0 ;
  }
  /****************--------------PORTFOLIO--------------****************/
  .portfolio_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
  .portfolio_h {
    margin: 0 30% 5% 12%;
  }
  /****************--------------BASIC WEB--------------****************/
  .basic_web_collapsed {
    position: relative;
    border-radius: 10px;
    background: #051536;
    width: 270px;
    height: 580px;
    overflow: hidden;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }

  .enlarge_web {
    position: relative;
    border-radius: 10px;
    background: #051536;
    width: 580px;
    height: 580px;
    overflow: hidden;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }
  #basic_web:hover {
    scale: 105%;
    box-shadow: -12px 12px 0px 0px rgba(33, 36, 242, 0.824);
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }
  .basic_web_h {
    font-family: "Barlow";
    color: aliceblue;
    font-size: 2rem;
    margin: 8% 0 0 5%;
    text-align: left;
  }
  .macbook {
    position: absolute;
    top: 26%;
    left: -20%;
    scale: 77%;
  }
  .hide {
    opacity: 0%;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
  }
  .show {
    opacity: 100%;
  }
  #web_description {
    color: aliceblue;
    margin: 5%;
    font-size: 16px;
  }
  #project {
    margin: 5%;
  }
  /****************--------------BASIC UI/UX--------------****************/

  #basic_ui_ux {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    border-radius: 10px;
    background-color: #484541;
    z-index: 0;
  }
  .basic_ui_ux_collapsed {
    width: 270px;
    height: 580px;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }
  .enlarge_basic_ui_ux {
    position: relative;
    border-radius: 10px;
    width: 580px;
    height: 580px;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }
  #basic_ui_ux:hover {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    scale: 105%;
    box-shadow: -12px 12px 0px 0px rgba(33, 36, 242, 0.824);
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }
  .basic_ux_h_customized_font {
    background-image: url("../img/basic_ux_h.webp");
    background-repeat: no-repeat;
    position: absolute;
    width: 136%;
    height: 16%;
    scale: 62%;
    left: -18%;
    top: 1%;
  }

  #paper_texture_container {
    border-radius: 10px;
    position: absolute;
    top: 0%;
    left: -1%;
    z-index: -1;
  }
  .enlarge_paper_texture_container {
    width: 590px;
    height: 590px;
    border-radius: 10px;
    position: absolute;
    top: 0%;
    left: -1%;
    z-index: -1;
  }
  #croissant {
    scale: 34%;
    position: absolute;
    top: -12%;
    left: -70%;
    z-index: -1;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }
  #ux_description {
    margin: 100px 5% 20px 5%;
  }
  #ux_anchor_container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 10px;
    margin-left: 5%;
  }

  /****************--------------BASIC ANIMATION--------------****************/
  #basic_animation {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }
  .basic_animation_collapsed {
    width: 270px;
    height: 580px;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }
  .enlarge_basic_animation {
    width: 580px;
    height: 580px;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }
  #basic_animation:hover {
    scale: 105%;
    box-shadow: -12px 12px 0px 0px rgba(33, 36, 242, 0.824);
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }
  .basic_animation_h {
    font-family: "Bodo";
    font-size: 24px;
    color: #0a3a5c;
    margin: 8% 0 0 0%;
    text-align: center;
  }
  #animation_description {
    margin: 5%;
  }

  #ducky_link {
    position: absolute;
    z-index: 1;
    margin-left: 5%;
  }
  #star_2 {
    position: absolute;
    top: 24%;
    left: 58%;
    scale: 139%;
    z-index: 0;
  }
  #star_1 {
    position: absolute;
    top: 69%;
    left: 2%;
    opacity: 100%;
    scale: 118%;
    z-index: 0;
  }
  #ducky {
    position: absolute;
    left: -38%;
    scale: 41%;
    z-index: 0;
  }

  /****************--------------BASIC CONTENT--------------****************/

  .basic_content_collapsed {
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    width: 270px;
    height: 580px;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }
  .enlarge_basic_content {
    overflow: hidden;
    width: 580px;
    height: 580px;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }
  .basic_content_h {
    font-family: "Montserrat Bold";
    font-size: 1.5rem;
    color: #a15a44;
    margin: 8% 0% 0 0%;
    text-align: center;
  }
  #basic_content:hover {
    scale: 105%;
    box-shadow: -12px 12px 0px 0px rgba(33, 36, 242, 0.824);
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }
  .movie-camera {
    position: absolute;
    scale: 41%;
    top: -2%;
    left: -49%;
  }
  #content_description {
    margin: 5%;
  }
  #content_anchor_container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 10px;
    margin-left: 5%;
  }
}

/****************--------------WEBSITE--------------****************/
@media screen and (min-width: 1100px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }
  .logo {
    scale: 30%;
  }
  
  /****************FORSIDE/INDEX****************/
  .index_h {
    display: grid;
    text-align: left;
  }
  .h1_index {
    font-family: "Jost-Medium";
    color: transparent;
    background-color: #ab42eb;
    background-clip: text;
    text-shadow: 0px 2px 3px #eb42be, 0px 2px 50px #eb42be;
    font-size: 6rem;
    height: 90px;
  }
 
  .index_paragraph {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    margin: 3% 2% 15% 0%;
    text-align: left;
  }
  .h2_index {
    margin-top: 16%;
    font-size: 3rem;
  }
  li {
    display: flex;
    justify-content: right;
  }
  .grid_1_1 {
    display: grid;
    gap: 20px;
    grid-template-columns: 720px;
    grid-template-rows: 200px 100px 100px;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0% 3% 10% 3%;
    
  }
  
  .btn_grid_1_2 {
    grid-row-start: 3;
  }
  .btn_grid_2_2 {
    display: grid;
    grid-row-start: 3;
  }
  .index_btn {
    display: grid;
    margin: 10% 21% 5% 0%;
  }
  .social_media_footer {
    display: grid;
    grid-template-rows: 1fr;
  }
  .index_body {
    background-image: url("../img/waves2.webp");
    background-repeat: no-repeat;
    position: absolute;
    height: 500px;
    width: 3300px;
    left: -41%;
    top: 40%;
    filter: drop-shadow(0px 0px 10px #42ebeb);
    z-index: -2;
    scale: 70%;
    
    
  }
  .glow{
    background-image: url("../img/glow.png");
    background-repeat: no-repeat;
    position: absolute;
    height: 800px;
    width: 1055px;
    mix-blend-mode: overlay;
    top: 74%;
    left: 29%;
    opacity: 50%;
    scale: 199%;
    z-index: -1;
  }
  .ellipse_1{
    background-image: url("../img/ellipse_pink.png");
    background-repeat: no-repeat;
    position: absolute;
    height: 781px;
    width: 433px;
    top: 0%;
    left: 75%;
    scale: 100%;
    z-index: -1;
    opacity: 25%;
  }
  .ellipse_2{
    background-image: url("../img/ellipse_purple.png");
    background-repeat: no-repeat;
    position: absolute;
    height: 781px;
    width: 433px;
    top: 30%;
    left: 70%;
    scale: 100%;
    z-index: -1;
    opacity: 50%;
  }
  .index_main{
    position: relative;
    overflow: hidden;
  }
  /****************LIDT_OM_MIG****************/
  .about_portrait {
    transform: scaleX(-1);
    width: 450px;
    height: auto;
  }
  .about_me_container {
    display: grid;
    grid-template-columns: 600px 1fr;
    grid-template-rows: 100px;
    column-gap: 20%;
    margin: 10% 5% 10% 5%;
  }
  .about_portrait_container {
    display: grid;
    grid-row-start: 1;
    grid-column-start: 2;
  }
  .historic_container {
    margin: 0% 5% 0% 5%;
  }
  .historic {
    margin-right: 45%;
  }
  .ellipse_about_1{
    background-image: url(../img/ellipse_pink.png);
    background-repeat: no-repeat;
    height: 500px;
    width: 500px;
    position: absolute;
    top: 14%;
    left: 74%;
    z-index: -1;
  }
  .ellipse_about_2{
    background-image: url(../img/pink_circle.webp);
    background-repeat: no-repeat;
    height: 614px;
    width: 615px;
    position: absolute;
    top: 22%;
    left: 36%;
    z-index: -1;
  }
  .ellipse_about_3{
    background-image: url(../img/ellipse_pink.png);
    background-repeat: no-repeat;
    height: 500px;
    width: 500px;
    position: absolute;
    top: 19%;
    left: 5%;
    z-index: -1;
    scale: 70%;
  }
  .ellipse_about_4{
    background-image: url(../img/ellipse_purple.png);
    background-repeat: no-repeat;
    height: 500px;
    width: 500px;
    position: absolute;
    top: 36%;
    left: 85%;
    z-index: -1;
    scale: 129%;
  }
  /****************--------------PORTFOLIO--------------****************/
  .portfolio_container {
    display: flex;
    justify-content: space-around;
    margin: 0 0 10% 0;
  }
  .portfolio_h {
    margin: 0 60% 0 3%;
  }
  /****************--------------BASIC WEB--------------****************/
  .basic_web_collapsed {
    position: relative;
    border-radius: 10px;
    background: #051536;
    width: 270px;
    height: 580px;
    overflow: hidden;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }

  .enlarge_web {
    position: relative;
    border-radius: 10px;
    background: #051536;
    width: 580px;
    height: 580px;
    overflow: hidden;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }
  #basic_web:hover {
    scale: 105%;
    box-shadow: -12px 12px 0px 0px rgba(33, 36, 242, 0.824);
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }
  .basic_web_h {
    font-family: "Barlow";
    color: aliceblue;
    font-size: 2rem;
    margin: 8% 0 0 5%;
    text-align: left;
  }
  .macbook {
    position: absolute;
    top: 26%;
    left: -20%;
    scale: 77%;
  }
  .hide {
    opacity: 0%;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
  }
  .show {
    opacity: 100%;
  }
  #web_description {
    color: aliceblue;
    margin: 5%;
    font-size: 16px;
  }
  #project {
    margin: 5%;
  }
  /****************--------------BASIC UI/UX--------------****************/

  #basic_ui_ux {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    border-radius: 10px;
    background-color: #484541;
    z-index: 0;
  }
  .basic_ui_ux_collapsed {
    width: 270px;
    height: 580px;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }
  .enlarge_basic_ui_ux {
    position: relative;
    border-radius: 10px;
    width: 580px;
    height: 580px;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }
  #basic_ui_ux:hover {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    scale: 105%;
    box-shadow: -12px 12px 0px 0px rgba(33, 36, 242, 0.824);
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }
  .basic_ux_h_customized_font {
    background-image: url("../img/basic_ux_h.webp");
    background-repeat: no-repeat;
    position: absolute;
    width: 136%;
    height: 16%;
    scale: 62%;
    left: -18%;
    top: 1%;
  }

  #paper_texture_container {
    border-radius: 10px;
    position: absolute;
    top: 0%;
    left: -1%;
    z-index: -1;
  }
  .enlarge_paper_texture_container {
    width: 590px;
    height: 590px;
    border-radius: 10px;
    position: absolute;
    top: 0%;
    left: -1%;
    z-index: -1;
  }
  #croissant {
    scale: 34%;
    position: absolute;
    top: -12%;
    left: -70%;
    z-index: -1;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }
  #ux_description {
    margin: 100px 5% 20px 5%;
  }
  #ux_anchor_container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 10px;
    margin-left: 5%;
  }

  /****************--------------BASIC ANIMATION--------------****************/
  #basic_animation {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }
  .basic_animation_collapsed {
    width: 270px;
    height: 580px;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }
  .enlarge_basic_animation {
    width: 580px;
    height: 580px;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }
  #basic_animation:hover {
    scale: 105%;
    box-shadow: -12px 12px 0px 0px rgba(33, 36, 242, 0.824);
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }
  .basic_animation_h {
    font-family: "Bodo";
    font-size: 24px;
    color: #0a3a5c;
    margin: 8% 0 0 0%;
    text-align: center;
  }
  #animation_description {
    margin: 5%;
  }

  #ducky_link {
    position: absolute;
    z-index: 1;
    margin-left: 5%;
  }
  #star_2 {
    position: absolute;
    top: 22%;
    left: 51%;
    scale: 80%;
    z-index: 0;
  }
  #star_1 {
    position: absolute;
    top: 69%;
    left: 2%;
    scale: 118%;
    z-index: 0;
  }
  #ducky {
    position: absolute;
    left: -38%;
    scale: 41%;
    z-index: 0;
  }

  /****************--------------BASIC CONTENT--------------****************/

  .basic_content_collapsed {
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    width: 270px;
    height: 580px;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }
  .enlarge_basic_content {
    overflow: hidden;
    width: 580px;
    height: 580px;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }
  .basic_content_h {
    font-family: "Montserrat Bold";
    font-size: 1.5rem;
    color: #a15a44;
    margin: 8% 0% 0 0%;
    text-align: center;
  }
  #basic_content:hover {
    scale: 105%;
    box-shadow: -12px 12px 0px 0px rgba(33, 36, 242, 0.824);
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }
  .movie-camera {
    position: absolute;
    scale: 41%;
    top: -2%;
    left: -49%;
  }
  #content_description {
    margin: 5%;
  }
  #content_anchor_container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 10px;
    margin-left: 5%;
  }
}
